@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 class="header-text">Monster Encounter Loot!</h1>
    <p class="lead, description">A simple web application built for people who want to take some of the guesswork out of randmizing loot for their monsters of their various games!</p>
    <p class="lead">
    </p>
</div>

<br />
<br />
<br />

<div class="row" id="content">

    <div class="col-md-6">
        <h2 class="titles">Create Monsters</h2>
        <p class="description">
            Create however many monsters you want to! Give them a Name, a Loot type and even a level!
        </p>
        <p><a class="btn button" href="~/Monsters">Monsters &raquo;</a></p>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <h2 class="titles">Add Loot</h2>
        <p class="description">
            Once you've created a monster, give it loot on the loot page! Add however many kinds of loot you could ever want! From gold to monster parts! From Gear to Legendary Items!
        </p>
        <p><a class="btn button" href="~/Loot">Loot &raquo;</a></p>
    </div>
</div>

<div class="row" id="content">

    <div class="col-md-6">
        <h2 class="titles">Fight!!</h2>
        <p class="description">
            Defeat your selected monster and we will random up that loot you set for it! Get your results fast!
        </p>
        <p><a class="btn button" href="~/Event">Event &raquo;</a></p>
    </div>
</div>